// @import "_variables"
// @import "_util/mixin"

.home .posts
    @media mq-normal
        display: grid
        grid-template-columns: 1fr 1fr
        gap: gutter-width

        .article
            display: flex
            flex-flow: column nowrap


        .article-inner
            display: flex
            flex-flow: column nowrap
            flex: 1 1 auto

            .article-entry
                flex: 1 0 auto
